.TodoItem {
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: stretch;
  border-bottom: var(--item-border); 

  b { width: fit-content; }

  .actionButton {
    border: 0;
    cursor: pointer;
    background: none;
    margin: var(--pad);
    justify-self: flex-end;
    padding: calc(var(--pad) / 2);
  }

  .checkBox {
    width: 20px;
    height: 20px;
    padding: var(--pad);
    border: var(--border);
    margin-right: var(--pad);
  }

  .checkBox:checked {
    color: var(--fg);
    accent-color: var(--cross-green);
    & + b { color: var(--item-complete); }
  }

  .actionButton:hover {
    border: 0;
    color: var(--fg-hover);
  }

  .actionButton:hover::after {
    content: ' Remove';
    font-weight: normal;
    color: var(--bg-hover);
    margin-left: calc(var(--pad) / 2);
  }
}
